%header#header
	.panel
		%nav
			%ul.sub-menu
				%li
					%a{:href => "#"} top stories
				%li
					%a{:href => "#"} nfl
				%li.active
					%a{:href => "#"} mlb
				%li
					%a{:href => "#"} nba
				%li
					%a{:href => "#"} coll.football
				%li
					%a{:href => "#"} nhl
				%li
					%a{:href => "#"} golf
				%li
					%a{:href => "#"} wnba
				%li
					%a{:href => "#"} rpm
		%ul.list
			%li
				%a.prev{:href => "#"}
				%a.next{:href => "#"}
			%li
				%a{:href => "#"}
					%span.icon-unlocked
			%li
				%a{:href => "#"}
					%span.icon-dot-circle-o
	.panel-1
		.command
			.box
				%span Toronto 0
				%span.arrow
				%span Washington 2(FINAL)
			%ul.list
				%li
					%a{:href => "#"}
						%span.icon-unlocked
				%li
					%a.top{:href => "#"}
					%a.bottom{:href => "#"}
		%span.text Scrolling Ticker Sports Updates from ESPN
		.logo-1
			%a{:href => "#"}
				%img{:src => "images/logo-1.png", :alt => "image description"}/
	.bar
		.container-1
			.logo
				%a{:href => "#"}
					%img{:src => "images/logo.png", :alt => "image description"}/
			.banner
				%a{:href => "#"}
					%img{:src => "images/banner-1.jpg ", :alt => "image description"}/
	%nav.main-menu
		.container-1
			%a.nav-opener{:href => "#"}
				%span Menu
			.drop
				.hold
					%ul#nav
						%li
							%a{:href => "#"} Home
						%li
							%a{:href => "#"} About
						%li
							%a{:href => "#"} Archives
						%li
							%a{:href => "#"} NEws &amp; Views
						%li
							%a{:href => "#"} Partnerships
						%li
							%a{:href => "#"} Contact
					.social
						%span.text follow us:
						%ul
							%li
								%a{:href => "#"}
									%i.ico.icon-facebook
							%li
								%a{:href => "#"}
									%i.ico.icon-twitter
							%li
								%a{:href => "#"}
									%i.ico.icon-youtube