%footer#footer
	.footer-holder
		.footer-logo
			%a{:href => "#"}
				prostate cancer
				%br/
				awareness
				%img{:src => "images/ico-1.png", :alt => "image description"}/
		.footer-bar
			%ul.menu-footer
				%li
					%a{:href => "#"} Home
				%li
					%a{:href => "#"} About
				%li
					%a{:href => "#"} Archives
				%li
					%a{:href => "#"} News &amp; Views
				%li
					%a{:href => "#"} Partnerships
			%p.copyright &copy; 2015 All Rights Reserved Sports Source. Proudly hosted and designed by Slamdot.