.cycle-gallery
	%h1 Our Partnerships
	.mask
		.slideset
			.slide
				.slide-hold
					%img{:src => "images/logo-2.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-3.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-4.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-5.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-2.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-3.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-4.png", :alt => "image description"}/
			.slide
				.slide-hold
					%img{:src => "images/logo-5.png", :alt => "image description"}/
	%a.btn-prev{:href => "#"} Previous
	%a.btn-next{:href => "#"} Next