@font-face {
    font-family: 'Swiss';
    src: url('../fonts/Swiss721BTBoldCondensed.eot');
    src: url('../fonts/Swiss721BTBoldCondensed.eot') format('embedded-opentype'),
         url('../fonts/Swiss721BTBoldCondensed.woff2') format('woff2'),
         url('../fonts/Swiss721BTBoldCondensed.woff') format('woff'),
         url('../fonts/Swiss721BTBoldCondensed.ttf') format('truetype'),
         url('../fonts/Swiss721BTBoldCondensed.svg#Swiss721BTBoldCondensed') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Swiss';
    src: url('../fonts/Swiss721BTRomanCondensed.eot');
    src: url('../fonts/Swiss721BTRomanCondensed.eot') format('embedded-opentype'),
         url('../fonts/Swiss721BTRomanCondensed.woff2') format('woff2'),
         url('../fonts/Swiss721BTRomanCondensed.woff') format('woff'),
         url('../fonts/Swiss721BTRomanCondensed.ttf') format('truetype'),
         url('../fonts/Swiss721BTRomanCondensed.svg#Swiss721BTRomanCondensed') format('svg');
	font-weight: 400;
	font-style: normal;
}